#barra_navagacion {
  width: 100%;
  height: 30px;
  background-color: #aad;
}

.div_sector {
  border: 2px;
}

#area_texto {
  float: left;
  background-color: #daa;
}

#area_blockly {
  float: right;
  background-color: #ada;
}

#div_input_usuario {
  width: 100%;
}

#div_output_blockly {
  margin-top: 5px;
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

#blockly {
  width: 100%;
  height: 100%;
}

.boton {
  margin: 5px;
}
